<div style="display:flex">
  <app-taskbar></app-taskbar>
  <div class="chat-component">
    <div class="header-chat">
      <h2>Messages</h2>
      <div class="notification">
        <i class="fa fas fa-bell"></i>
        <span class="dot">3</span>
      </div>
      <div class="infomation">
        <div class="image">
          <a href="#">
            <img src="assets/image/linkka.jpg" alt="link ka" />
          </a>
        </div>
        <div class="main-info">
          <div class="name">
            <h4 *ngIf="currentUser != null">{{currentUser.username}}</h4>
          </div>
          <div class="status">
            <span class="dot"></span>
            <span class="status-name">Available</span>
          </div>
        </div>
      </div>
    </div>
    <div class="body-chat">
      <div class="content-right">
        <div class="search">
          <input type="text" placeholder="Search" />
          <i class="fa fas fa-search"></i>
        </div>
        <div class="list-friends">
          <div class="friend-information" *ngFor="let friend of listFriend;index as i" [class.active]="isActive(friend.id)" (click)="changeRoute(friend.id)">
            <div class="image">
              <img src="assets/image/linkka.jpg" style="width:40px;height:40px" />
              <div class="online">
                <span class="dot-white"></span>
                <span class="dot-green"></span>
              </div>
            </div>
            <div class="information">
              <div class="name-time">
                <div class="name">
                  <span>{{friend.username}}</span>
                </div>
                <div class="time">
                  <span>2 giờ</span>
                </div>
              </div>
              <div class="message">
                <span>link ka siu cute</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-chatbody></app-chatbody>
    </div>
  </div>
</div>
