<div class="chat-component">
  <div class="header-chat">
    <h2>Messages</h2>
    <div class="notification">
      <i class="fa fas fa-bell"></i>
      <span class="dot">3</span>
    </div>
    <div class="infomation">
      <div class="image">
        <a href="#">
          <img src="assets/image/linkka.jpg" alt="link ka" />
        </a>
      </div>
      <div class="main-info">
        <div class="name">
          <h4>Link Ka SexyGril</h4>
        </div>
        <div class="status">
          <span class="dot"></span>
          <span class="status-name">Available</span>
        </div>
      </div>
    </div>
  </div>
</div>
