<div class="chat-component">
  <div class="header-chat">
    <h2>Messages</h2>
    <div class="notification">
      <i class="fa fas fa-bell"></i>
      <span class="dot">3</span>
    </div>
    <div class="infomation">
      <div class="image">
        <a href="#">
          <img src="assets/image/linkka.jpg" alt="link ka" />
        </a>
      </div>
      <div class="main-info">
        <div class="name">
          <h4>Link Ka SexyGril</h4>
        </div>
        <div class="status">
          <span class="dot"></span>
          <span class="status-name">Available</span>
        </div>
      </div>
    </div>
  </div>
  <div class="body-chat">
    <div class="content-right">
      <div class="search">
        <input type="text" placeholder="Search" />
        <i class="fa fas fa-search"></i>
      </div>
      <div class="list-friends">
        <div class="friend-information">
          <div class="image">
            <img src="assets/image/linkka.jpg" style="width:40px;height:40px" />
            <div class="online">
              <span class="dot-white"></span>
              <span class="dot-green"></span>
            </div>
          </div>
          <div class="information">
            <div class="name-time">
              <div class="name">
                <span>Link ka</span>
              </div>
              <div class="time">
                <span>2 giờ</span>
              </div>
            </div>
            <div class="message">
              <span>link ka siu cute</span>
            </div>
          </div>
        </div>
        <div class="friend-information">
          <div class="image">
            <img src="assets/image/linkka.jpg" style="width:40px;height:40px" />
            <div class="online">
              <span class="dot-white"></span>
              <span class="dot-green"></span>
            </div>
          </div>
          <div class="information">
            <div class="name-time">
              <div class="name">
                <span>Link ka</span>
              </div>
              <div class="time">
                <span>2 giờ</span>
              </div>
            </div>
            <div class="message">
              <span>link ka siu cute</span>
            </div>
          </div>
        </div>
        <div class="friend-information">
          <div class="image">
            <img src="assets/image/linkka.jpg" style="width:40px;height:40px" />
            <div class="online">
              <span class="dot-white"></span>
              <span class="dot-green"></span>
            </div>
          </div>
          <div class="information">
            <div class="name-time">
              <div class="name">
                <span>Link ka</span>
              </div>
              <div class="time">
                <span>2 giờ</span>
              </div>
            </div>
            <div class="message">
              <span>link ka siu cute</span>
            </div>
          </div>
        </div>
        <div class="friend-information">
          <div class="image">
            <img src="assets/image/linkka.jpg" style="width:40px;height:40px" />
            <div class="online">
              <span class="dot-white"></span>
              <span class="dot-green"></span>
            </div>
          </div>
          <div class="information">
            <div class="name-time">
              <div class="name">
                <span>Link ka</span>
              </div>
              <div class="time">
                <span>2 giờ</span>
              </div>
            </div>
            <div class="message">
              <span>link ka siu cute</span>
            </div>
          </div>
        </div>
        <div class="friend-information">
          <div class="image">
            <img src="assets/image/linkka.jpg" style="width:40px;height:40px" />
            <div class="online">
              <span class="dot-white"></span>
              <span class="dot-green"></span>
            </div>
          </div>
          <div class="information">
            <div class="name-time">
              <div class="name">
                <span>Link ka</span>
              </div>
              <div class="time">
                <span>2 giờ</span>
              </div>
            </div>
            <div class="message">
              <span>link ka siu cute</span>
            </div>
          </div>
        </div>
        <div class="friend-information">
          <div class="image">
            <img src="assets/image/linkka.jpg" style="width:40px;height:40px" />
            <div class="online">
              <span class="dot-white"></span>
              <span class="dot-green"></span>
            </div>
          </div>
          <div class="information">
            <div class="name-time">
              <div class="name">
                <span>Link ka</span>
              </div>
              <div class="time">
                <span>2 giờ</span>
              </div>
            </div>
            <div class="message">
              <span>link ka siu cute</span>
            </div>
          </div>
        </div>
        <div class="friend-information">
          <div class="image">
            <img src="assets/image/linkka.jpg" style="width:40px;height:40px" />
            <div class="online">
              <span class="dot-white"></span>
              <span class="dot-green"></span>
            </div>
          </div>
          <div class="information">
            <div class="name-time">
              <div class="name">
                <span>Link ka</span>
              </div>
              <div class="time">
                <span>2 giờ</span>
              </div>
            </div>
            <div class="message">
              <span>link ka siu cute</span>
            </div>
          </div>
        </div>
        <div class="friend-information">
          <div class="image">
            <img src="assets/image/linkka.jpg" style="width:40px;height:40px" />
            <div class="online">
              <span class="dot-white"></span>
              <span class="dot-green"></span>
            </div>
          </div>
          <div class="information">
            <div class="name-time">
              <div class="name">
                <span>Link ka</span>
              </div>
              <div class="time">
                <span>2 giờ</span>
              </div>
            </div>
            <div class="message">
              <span>link ka siu cute</span>
            </div>
          </div>
        </div>
        <div class="friend-information">
          <div class="image">
            <img src="assets/image/linkka.jpg" style="width:40px;height:40px" />
            <div class="online">
              <span class="dot-white"></span>
              <span class="dot-green"></span>
            </div>
          </div>
          <div class="information">
            <div class="name-time">
              <div class="name">
                <span>Link ka</span>
              </div>
              <div class="time">
                <span>2 giờ</span>
              </div>
            </div>
            <div class="message">
              <span>link ka siu cute</span>
            </div>
          </div>
        </div>
        <div class="friend-information">
          <div class="image">
            <img src="assets/image/linkka.jpg" style="width:40px;height:40px" />
            <div class="online">
              <span class="dot-white"></span>
              <span class="dot-green"></span>
            </div>
          </div>
          <div class="information">
            <div class="name-time">
              <div class="name">
                <span>Link ka</span>
              </div>
              <div class="time">
                <span>2 giờ</span>
              </div>
            </div>
            <div class="message">
              <span>link ka siu cute</span>
            </div>
          </div>
        </div>
        <div class="friend-information">
          <div class="image">
            <img src="assets/image/linkka.jpg" style="width:40px;height:40px" />
            <div class="online">
              <span class="dot-white"></span>
              <span class="dot-green"></span>
            </div>
          </div>
          <div class="information">
            <div class="name-time">
              <div class="name">
                <span>Link ka</span>
              </div>
              <div class="time">
                <span>2 giờ</span>
              </div>
            </div>
            <div class="message">
              <span>link ka siu cute</span>
            </div>
          </div>
        </div>
        <div class="friend-information">
          <div class="image">
            <img src="assets/image/linkka.jpg" style="width:40px;height:40px" />
            <div class="online">
              <span class="dot-white"></span>
              <span class="dot-green"></span>
            </div>
          </div>
          <div class="information">
            <div class="name-time">
              <div class="name">
                <span>Link ka</span>
              </div>
              <div class="time">
                <span>2 giờ</span>
              </div>
            </div>
            <div class="message">
              <span>link ka siu cute</span>
            </div>
          </div>
        </div>
        <div class="friend-information">
          <div class="image">
            <img src="assets/image/linkka.jpg" style="width:40px;height:40px" />
            <span class="dot-white"></span>
            <span class="dot-green"></span>
          </div>
          <div class="information">
            <div class="name-time">
              <div class="name">
                <span>Link ka</span>
              </div>
              <div class="time">
                <span>2 giờ</span>
              </div>
            </div>
            <div class="message">
              <span>link ka siu cute</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-left">
      <div class="content-left-header">
        <div class="image">
          <img src="assets/image/linkka.jpg"/>
          <span class="dot-white"></span>
          <span class="dot-green"></span>
        </div>
        <div class="information">
          <div class="name">
            <span>Link ka</span>
          </div>
          <div class="status">
            <span style="font-family: 'Times New Roman', Times, serif">Đang hoạt động</span>
          </div>
        </div>
      </div>
      <div class="content-left-body">
        <!--Đây là phần tin nhắn của người khác zô group hoặc solo-->
        <div class="main-body incoming_group">
          <div class="image">
            <img src="assets/image/linkka.jpg" />
          </div>
          <div class="content-chat">
            <div class="row">
              <div class="main-contain">
                <span>Anh ơi</span>
              </div>
            </div>
            <div class="row">
              <div class="main-contain">
                <span>Nay covid nên em lấy giá rẻ thui</span>
              </div>
            </div>
            <div class="row">
              <div class="main-contain">
                <span>50k/h đi hok Anh Văn Anh</span>
              </div>
            </div>
          </div>
        </div>
        <!--Đây là phần tin nhắn của mình zô group hoặc solo-->
        <div class="main-body outgoing_group">
          <div class="row">
            <div class="main-contain">
              <span>Ok em</span>
            </div>
          </div>
          <div class="row">
            <div class="main-contain">
              <span>Số em là zì anh gọi lun đây</span>
            </div>
          </div>
        </div>
        <div class="main-body incoming_group">
          <div class="image">
            <img src="assets/image/linkka.jpg" />
          </div>
          <div class="content-chat">
            <div class="row">
              <div class="main-contain">
                <span>Số em là: *************</span>
              </div>
            </div>
            <div class="row">
              <div class="main-contain">
                <span>Anh nhá máy đi đừng gọi mất công tốn xiền=))</span>
              </div>
            </div>
          </div>
        </div>
        <!--Đây là phần tin nhắn của mình zô group hoặc solo-->
        <div class="main-body outgoing_group">
          <div class="row">
            <div class="main-contain">
              <span>Oke haha</span>
            </div>
          </div>
          <div class="row">
            <div class="main-contain">
              <span>Anh tới rùi em xuống đê</span>
            </div>
          </div>
        </div>
        <div class="main-body incoming_group">
          <div class="image">
            <img src="assets/image/linkka.jpg" />
          </div>
          <div class="content-chat">
            <div class="row">
              <div class="main-contain">
                <span>Em xuống ngay đây=))</span>
              </div>
            </div>
          </div>
        </div>
        <!--Đây là phần tin nhắn của mình zô group hoặc solo-->
        <div class="main-body outgoing_group">
          <div class="row">
            <div class="main-contain">
              <span>Nay covid quá may mà có anh đó nha</span>
            </div>
          </div>
          <div class="row">
            <div class="main-contain">
              <span>Đi chỗ nào xịn tí nè</span>
            </div>
          </div>
          <div class="row">
            <div class="main-contain">
              <span>Anh cho cưng phê quên lối zề lun</span>
            </div>
          </div>
        </div>
        <div class="main-body incoming_group">
          <div class="image">
            <img src="assets/image/linkka.jpg" />
          </div>
          <div class="content-chat">
            <div class="row">
              <div class="main-contain">
                <span>Ok nhờ anh hết</span>
              </div>
            </div>
            <div class="row">
              <div class="main-contain">
                <span>Yêu anh lắm lun</span>
              </div>
            </div>
            <div class="row">
              <div class="main-contain">
                <span>lovely 🥰🥰🥰</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-left-footer">
        <div class="send-message-input">
          <input type="text" placeholder="Aa" />
          <i class="fas fa-smile"></i>
        </div>
      </div>
    </div>
  </div>
</div>
