<div class="content-left" id="main" >
  <div class="content-left-header">
    <div class="image">
      <img src="assets/image/linkka.jpg" />
      <span class="dot-white"></span>
      <span class="dot-green"></span>
    </div>
    <div class="information">
      <div class="name">
        <span *ngIf="friend">{{friend.username}}</span>
      </div>
      <div class="status">
        <span style="font-family: 'Times New Roman', Times, serif">Đang hoạt động</span>
      </div>
    </div>
  </div>
  <div class="content-left-body" (click)="hiden()">
    <!--Đây là phần tin nhắn của người khác zô group hoặc solo-->
    <div class="main-body incoming_group" >
      <div class="image">
        <img src="assets/image/linkka.jpg" />
      </div>
      <div class="content-chat">
        <div class="row">
          <div class="main-contain">
            <span>Hello</span>
          </div>
        </div>
        <div class="row">
          <div class="main-contain">
            <span>Helloooooooooooooooooooo</span>
          </div>
        </div>
      </div>
    </div>
    <!--Đây là phần tin nhắn của mình zô group hoặc solo-->
    <div class="main-body outgoing_group">
      <div class="row">
        <div class="main-contain">
          <span>Heloooooooooooooooooooooooooooooooooo</span>
        </div>
      </div>
    </div>
    <div class="main-body incoming_group">
      <div class="image">
        <img src="assets/image/linkka.jpg" />
      </div>
      <div class="content-chat">
        <div class="row">
          <div class="main-contain">
            <span>Chào cậu</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-left-footer" >
    <div class="send-message-input">
      <input type="text" placeholder="Aa" #mess (keyup.enter)="sendMessage(mess)" id="sendMessage" (click)="hiden()"  editor/>
      <div  class="icon" (click)="hideOrUnhideIcon()">  <img src="assets/image/icon.png" /></div>
    </div>
  </div>
  <div *ngIf="this.isShowIcon">
    <div class="uiScrollableAreaBody"  >
      <div class="uiScrollableArea">
        <h3 style="color: #717a88;">mặt cười & hình người</h3>
        <div class="_3vgi" style="min-height:2200px">
          <div class="clearfix" >
<span class   >
<div class="_5zfs" role="button" tabindex="0"  >
<img alt="{{icon.ALT}}" style="margin-left: 5px;" class="_5zft img" id="img" draggable="false" height="28" width="28" *ngFor="let icon of icons; index as idx" (click)="addIcon(idx)"
src="{{icon.src}}"   >

</div>

</span>  

          </div>


        </div>
      </div>
     
    </div>
    <div class="arrow-down" ></div>
  
  </div>
</div>
