<div class="content-left">
  <div class="content-left-header">
    <div class="image">
      <img src="assets/image/linkka.jpg" />
      <span class="dot-white"></span>
      <span class="dot-green"></span>
    </div>
    <div class="information">
      <div class="name">
        <span>Link ka</span>
      </div>
      <div class="status">
        <span style="font-family: 'Times New Roman', Times, serif">Đang hoạt động</span>
      </div>
    </div>
  </div>
  <div class="content-left-body">
    <!--Đây là phần tin nhắn của người khác zô group hoặc solo-->
    <div class="main-body incoming_group">
      <div class="image">
        <img src="assets/image/linkka.jpg" />
      </div>
      <div class="content-chat">
        <div class="row">
          <div class="main-contain">
            <span>Anh ơi</span>
          </div>
        </div>
        <div class="row">
          <div class="main-contain">
            <span>Nay covid nên em lấy giá rẻ thui</span>
          </div>
        </div>
        <div class="row">
          <div class="main-contain">
            <span>50k/h đi hok Anh Văn Anh</span>
          </div>
        </div>
      </div>
    </div>
    <!--Đây là phần tin nhắn của mình zô group hoặc solo-->
    <div class="main-body outgoing_group">
      <div class="row">
        <div class="main-contain">
          <span>Ok em</span>
        </div>
      </div>
      <div class="row">
        <div class="main-contain">
          <span>Số em là zì anh gọi lun đây</span>
        </div>
      </div>
    </div>
    <div class="main-body incoming_group">
      <div class="image">
        <img src="assets/image/linkka.jpg" />
      </div>
      <div class="content-chat">
        <div class="row">
          <div class="main-contain">
            <span>Số em là: *************</span>
          </div>
        </div>
        <div class="row">
          <div class="main-contain">
            <span>Anh nhá máy đi đừng gọi mất công tốn xiền=))</span>
          </div>
        </div>
      </div>
    </div>
    <!--Đây là phần tin nhắn của mình zô group hoặc solo-->
    <div class="main-body outgoing_group">
      <div class="row">
        <div class="main-contain">
          <span>Oke haha</span>
        </div>
      </div>
      <div class="row">
        <div class="main-contain">
          <span>Anh tới rùi em xuống đê</span>
        </div>
      </div>
    </div>
    <div class="main-body incoming_group">
      <div class="image">
        <img src="assets/image/linkka.jpg" />
      </div>
      <div class="content-chat">
        <div class="row">
          <div class="main-contain">
            <span>Em xuống ngay đây=))</span>
          </div>
        </div>
      </div>
    </div>
    <!--Đây là phần tin nhắn của mình zô group hoặc solo-->
    <div class="main-body outgoing_group">
      <div class="row">
        <div class="main-contain">
          <span>Nay covid quá may mà có anh đó nha</span>
        </div>
      </div>
      <div class="row">
        <div class="main-contain">
          <span>Đi chỗ nào xịn tí nè</span>
        </div>
      </div>
      <div class="row">
        <div class="main-contain">
          <span>Anh cho cưng phê quên lối zề lun</span>
        </div>
      </div>
    </div>
    <div class="main-body incoming_group">
      <div class="image">
        <img src="assets/image/linkka.jpg" />
      </div>
      <div class="content-chat">
        <div class="row">
          <div class="main-contain">
            <span>Ok nhờ anh hết</span>
          </div>
        </div>
        <div class="row">
          <div class="main-contain">
            <span>Yêu anh lắm lun</span>
          </div>
        </div>
        <div class="row">
          <div class="main-contain">
            <span>lovely 🥰🥰🥰</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-left-footer">
    <div class="send-message-input">
      <input type="text" placeholder="Aa" />
      <i class="fas fa-smile"></i>
    </div>
  </div>
</div>
