<div class="content-left" id="main">
  <div class="content-left-header">
    <div class="image">
      <img src="assets/image/linkka.jpg" />
      <span class="dot-white"></span>
      <span class="dot-green"></span>
    </div>
    <div class="information">
      <div class="name">
        <span *ngIf="friend">{{friend.username}}</span>
      </div>
      <div class="status">
        <span style="font-family: 'Times New Roman', Times, serif">Đang hoạt động</span>
      </div>
    </div>
  </div>
  <div class="content-left-body">
    <!--Đây là phần tin nhắn của người khác zô group hoặc solo-->
    <div class="main-body incoming_group">
      <div class="image">
        <img src="assets/image/linkka.jpg" />
      </div>
      <div class="content-chat">
        <div class="row">
          <div class="main-contain">
            <span>Hello</span>
          </div>
        </div>
        <div class="row">
          <div class="main-contain">
            <span>Helloooooooooooooooooooo</span>
          </div>
        </div>
      </div>
    </div>
    <!--Đây là phần tin nhắn của mình zô group hoặc solo-->
    <div class="main-body outgoing_group">
      <div class="row">
        <div class="main-contain">
          <span>Heloooooooooooooooooooooooooooooooooo</span>
        </div>
      </div>
    </div>
    <div class="main-body incoming_group">
      <div class="image">
        <img src="assets/image/linkka.jpg" />
      </div>
      <div class="content-chat">
        <div class="row">
          <div class="main-contain">
            <span>Chào cậu</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-left-footer">
    <div class="send-message-input">
      <input type="text" placeholder="Aa" #mess (keyup.enter)="sendMessage(mess)"/>
      <i class="fas fa-smile"></i>
    </div>
  </div>
</div>
