.content-left {
  width: 969px;
  height: 100%;

  .content-left-header {
    display: flex;
    border: 1px solid #f3f3f5;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .image {
      padding-top: 4px;
      padding-left: 12px;
      position: relative;

      img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }

      .dot-white {
        position: absolute;
        bottom: 4px;
        right: 0;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
      }

      .dot-green {
        position: absolute;
        bottom: 6px;
        right: 2px;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: #5ad539;
        display: inline-block;
      }
    }

    .information {
      padding-top: 10px;
      padding-left: 10px;

      .status {

        span {
          font-size: 15px;
          color: #c9ccd1;
        }
      }
    }
  }

  .content-left-body {
    height: 368px;
    overflow-y: hidden;
    overflow-y: scroll;

    span {
      font-family: 'Times New Roman', Times, serif;
    }

    .main-body {
      display: flex;
      position: relative;

      .image {
        img {
          border-radius: 50%;
          width: 30px;
          height: 30px;
          position: absolute;
          bottom: 0;
          left: 2px;
        }
      }
    }

    .incoming_group {
      width: 100%;

      .content-chat {
        padding-left: 36px;
        width: 98%;

        .row {
          .main-contain {
            display: inline-block;
            background-color: #e4e6eb;
            border-radius: 18px;
            padding: 5px 12px 5px 12px;
            margin-top: 3px;
          }
        }
      }
    }

    .outgoing_group {
      display: block;

      .row {
        padding-right: 10px;
        text-align: right;

        .main-contain {
          display: inline-block;
          background-color: #0099ff;
          border-radius: 18px;
          padding: 5px 12px 5px 12px;
          margin-top: 3px;

          span {
            color: white;
          }
        }
      }
    }
  }

  .content-left-footer {
    height: 50px;
    border-top: 1px solid #f3f3f5;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .send-message-input {
      padding-top: 10px;
      padding-left: 30px;
      position: relative;

      input {
        border-radius: 20px;
        height: 25px;
        width: 550px;
        padding: 5px 5px 5px 10px;
        line-height: normal;
        border: none;
        background-color: #f3f3f5;
      }

      .icon {
        width: 20px;
        height: 20px;
        border-radius:100%;
    
        bottom: 8px;
        left: 518px;
        margin-left: 10px;
        margin-top: -20px;
       position: relative;
        background-color:#0099ff ;
        cursor:pointer;
        img{
          width: 20px;
          height: 20px;
         
         
         
        }
      }
    }
  }
}
.uiScrollableAreaBody{
  width: 320px;
  height: 280px;
  border: 1px solid #717a88;
  border-radius: 20px;
  animation: fadeIn 1s ease-in;
  margin-top: -280px;
  margin-left: 240px;
  position: absolute;

  
  
  
  ._5zfs{
    float: left;
    margin-left: 5px;
   
    
  
  }
  ._5zft:hover{
    background-color: #d7dbe2;
    cursor:pointer;
  
  
  }
 
}
.arrow-down {
  width: 2px; 
  height: 2px; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin-left: 535px;
  margin-top: -70px;
  transform: rotate(-15deg);
  border-top: 20px solid #eee;
  
  
}