<div class="container">
  <div class="login-form-header">
    <h2>Login Form</h2>
  </div>
  <div class="login-form-body">
    <div class="username">
      <input id="username" type="text" placeholder="Email or Username" />
      <i class="fas fa-envelope fa-lg" style="color: #5d86af"></i>
    </div>
    <div class="password">
      <input id="password" type="text" placeholder="Password" />
      <i class="fas fa-lock fa-lg" style="color: #5d86af"></i>
    </div>
    <div class="sign-in">
      <button type="button" (click)="login()">Sign in</button>
    </div>
  </div>
</div>
