/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 30px;
}

h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: 'Helvetica Neue LT Std';
}
//remove css a tag
a {
  color: #0060B6;
  text-decoration: none;
}
// remove css input text
input:focus {
  outline: none;
}
::-webkit-scrollbar {
  display: none;
}
